{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": ".",
          "@/app": "./app",
          "@/components": "./app/components",
          "@/hooks": "./app/hooks",
          "@/lib": "./lib",
          "@/utils": "./app/utils",
          "@/providers": "./app/providers"
        }
      }
    ]
  ]
}
